html, body {
    height: calc(100% - 5px);
    overflow: hidden;
}

table {
    padding: 5px;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

a:visited {
    color: antiquewhite;
}

tr {
    cursor: pointer;
}

#myCanvas {
    display: table;
    float: left;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #c3c3c3;
}

#myLayer {
    position: absolute;
    left: 0;
    border: 1px solid #c3c3c3;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    left 0;
}

.tooltiptext {
    position: relative;
    background-color: black;
    color: #f0f0e0;
    opacity: 0.8;
    border-radius: 6px;
    padding: 5px;
    left: 5px;
    top: 284px;
}

#myChart {
    position: relative;
}

h1 {
    text-align: center;
    width: 590px;
}

.bigfont {
    font-size: 40px;
}

.image {
    overflow: hidden;
    position: relative;
}

a > img {
    width: 100%;
    padding-left: 5px;
}

body {
    display: flex;
    background-color: black;
    color: antiquewhite;
}

.copyright {
    padding-top: 5px;
}

#info, #mapUrl, #wikiUrl {
    padding-left: 5px;
}

#info {
    margin-top: 2px;
}

#mapUrl {
    padding-left: 15px;
}

#links {
    display: flex;
}

#cityList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 450px);
    font-size: x-large;
}

#cityScroll {
    overflow-y: auto;
}

.highlight {
    background-color: dimgray;
    color: white;
}

#focusHelper {
    position: absolute;
    left: -9999px;
}
