#myCanvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #c3c3c3;
}

h1 {
    text-align: center;
}

.bigfont {
    font-size: 40px;
}

#cities {
    width: 510px;
}

.controls {
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 590px;
    display: flex;
}

#previous {
    width: 48px;
}

#next {
    width: 48px;
    float: right;
}