#myCanvas {
    display: table;
    float: left;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #c3c3c3;
}

#myLayer {
    position: absolute;
    left: 0;
    border: 1px solid #c3c3c3;
}

#myChart {
    position: relative;
}

h1 {
    text-align: center;
    width: 590px;
}

.bigfont {
    font-size: 40px;
}

#cities {
    width: 510px;
}

.controls {
    margin-right: auto;
    width: 592px;
    display: flex;
}

#previous {
    width: 48px;
}

#next {
    width: 48px;
    float: right;
}

.image {
    overflow: hidden;
    position: relative;
}

.image > img {
    height: 422px;
    padding-left: 5px;
}
